# Python
__pycache__/
*.pyc
*.pyo

# Environnements virtuels
.venv/
venv/
.env

# Données et images (ne pas versionner)
data/
*.csv
*.json
*.jpg
*.png

# Fichiers système
.DS_Store
*/.DS_Store
Thumbs.db

# Répertoires d'IDE/éditeurs
.vscode/
.idea/